
@media screen and (max-width: 1020px){

    html, body{
        height: 100%;
        margin: 10px;
        padding: 10px;
        font-size: 15px;
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        box-sizing: border-box;
        width: 700px;
        height: 100%;
        margin: 20px;
    }

    .container > .card-content{
        flex: 1;
    }

    .container > .card-image{
        background-image: linear-gradient(hsla(292, 57%, 47%, 0.456),hsla(292, 57%, 47%, 0.347)), url("assets/images/image-header-mobile.jpg");
        background-size: cover;
        flex: 1;
        height: 100%;
    }

    #para{
        font-size: 15px;
    }

    .stats-con > p{
        
        font-size: 15px;
        
    }



}