

body{
    background: hsl(233, 47%, 7%);
}

.container{
    background: hsl(244, 38%, 16%);
    display: flex;
}

.card-contentent{
    flex: 1;
}

.card-image{
    flex: 1;
    background-image: url("assets/images/image-header-desktop.jpg");
    background-size: cover;
}